<div class="<%= wrapper_classes %>" <%= @html_options.except(:class).map { |k, v| "#{k}=\"#{v}\"" }.join(' ').html_safe %>>
  <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="dot-pattern" x="0" y="0" width="<%= gap %>" height="<%= gap %>" patternUnits="userSpaceOnUse">
        <circle cx="<%= dot_size %>" cy="<%= dot_size %>" r="<%= dot_size %>" fill="<%= color %>" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#dot-pattern)" />
  </svg>
</div>
